@import "tailwindcss";

@theme {
  --color-runner-green-100: #F4FAF2; 
  --color-runner-green-500: #51A74F;
  --color-runner-green-700: #176C15;
  --color-carbon: #2E353A;
}

@layer base {
  :root {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}